<mat-form-field [formGroup]="form" class="example-full-width" style="width: 100%">
  <input matInput placeholder="Search..." aria-label="Search" [matAutocomplete]="auto" [formControl]="searchCtrl">
  <mat-autocomplete #auto="matAutocomplete">
    <mat-option *ngFor="let state of filteredStates | async" [value]="state.name">
      <img class="example-option-img" aria-hidden [src]="state.flag" height="25">
      <span>{{state.name}}</span> |
      <small>Population: {{state.population}}</small>
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
